{%extends 'base.html'%}
{%load staticfiles%}
{%block content%}
  <div class="body_producto">
    <center>
      <h1> {{prod.nombre}} </h1>
      <img src="{%static prod.nombre|lower|add:'.jpg'%}" alt="" width="400" height="600">
      <p>Recreacción de {{prod.nombre|title}}</p>
      <p>Precio: {{prod.precio}} €</p>
      <p>En Stock: {{prod.stock}} unidades</p>
    </center>
    <br>
    <br>
    <div class="pedido">
      <form  action="comprar" method="POST">
        {% csrf_token %}
        <label>Nombre de la persona que hace el pedido: <label>
        <input type="text" name="nombre" value="" required/>
        <br>
        <br>
        <label>Producto seleccionado: <label>
        <input type="text" name="producto" value="{{prod.nombre}}" readonly/>
        <br>
        <br>
        {%if prod.stock >= 1%}
          <label>Número de productos: <label>
          <input type="number" name="cantidad" value="1" min="1" max="{{prod.stock}}" required/>
          <input type="submit" value="AÑADIR" />
        {%else%}
          <label> ¡NO HAY EN STOCK! <label>
          <input type="submit" value="AÑADIR" disabled/>
        {%endif%}
      </form>
    </div>
    <br>
    <br>
    <center>
      <a class="button_pp" href="/mi_tienda">Página principal</a>
    </center>
  </div>


{%endblock%}
