*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #c9e3eb;
}

a{
	text-decoration: none;
	color: black;
}

.cabecera{
	width: 100%;
	margin: auto;
}



.logo{
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 30px;

}



.galeria1{
	padding: 50px;
	align-items: center;
}

.pedido{
	margin: auto;
	border-radius: 10px;
	padding: 10px;
	border: 10px solid black;
}




button{
  background-color: #6b97a4;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  cursor: pointer;

}

button:hover{
  background-color: #305661;
  color: white;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

.principal{
	padding: 100px;
}
