*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: black;
}



.cabecera{
	width: 100%;
	max-width: 1920px;
	margin: auto;
	background-color: #c9e3eb;
}



.logo{
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 150px;
	display: inline;
	float: left;

}

.carrito{
	width: 40px;
	height: auto;
	display: inline;
	float: right;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-right: 100px;

}

.opciones{
	width: 100%;
	padding: 50px;
	background-color: #ffff;
	align-content: right;
}

div.buscar button{
  background-color: #6b97a4;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 5px;
  cursor: pointer;
	float: left;
	display: block;
	margin-left: 50px;
}


div.buscar button:hover{
  background-color: #305661;
  color: white;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

div.buscar input[type=text] {
  font-size: 22px;
  display: block;
  width: 25%;
  height: 50%;
  background: none;
  background-image: none;
  border: 2px solid #a0b3b0;
  color: #ffff;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
	margin-left: 60%;
	float: left;
}

div.buscar input[type=text] :focus {
  outline: 0;
  border-color: #6b97a4;
}

div.buscar input.highlight {
  color: black;
}


div.buscar::after{
	content: "";
	clear: both;
}


/********* GALERIA *********/

.galeria1{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.foto1{
	width: calc(25% - 20px);
	margin: 10px;
	position: relative;

}

.tapa{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .9);
	border: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	opacity: 0;
	transition: all 0.2s linear;
	font-family: 'Raleway', sans-serif;
}

.foto1:hover .tapa{
	opacity: 1;
}

footer{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #c9e3eb;

}

.pagina-web{
	color: #6b97a4;
}


.github{
	width: 35px;
	height: auto;
	margin: 0 auto;

}
