{%load staticfiles%}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Superhero</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
  </head>
  <body>
    <div class="cabecera">

      	<div class="logo">
          <a href="/mi_tienda"><img src="{%static 'logo.png'%}"/></a>
      	</div>
        <div class="carrito">
  	    	<a href="carrito"><img src="{%static 'carrito.png'%}"/></a>
	      </div>

    </div>

    {%block content%}
    {%endblock%}

    <footer>
          <p>Diseños realizados por Susana Cáceres Nieto</p>
          <p class="pagina-web" >susanacaceresnieto.com</p>
          <br>
          <p>Página realizada por María Guadaño Nieto</p>
          <a href="https://github.com/mariagn95"><img class="github" src="{%static 'github.png'%}"></a>
    </footer>

  </body>
</html>
