{%extends 'base.html'%}
{%load staticfiles%}
{%block content%}
  <div class="body_carrito">
    <form  action="mostrar_carrito" method="POST">
      {% csrf_token %}
      <center>
        <br>
        <br>
        <label>REALIZACIÓN DE PEDIDOS<label>
        <br>
        <br>
        <label>Nombre de la persona que hace el pedido: <label>
        <input type="text" name="nombre" value="" required/>
        <input type="submit" value="OK" />
      </center>
    </form>
    <br>
    {{carrito|unordered_list}}
    {%if precio%}
      <p> Total del pedido : {{precio}} €</p>
    {%endif%}
    <br>
    <br>
    <center>
      <a class="button_pp" href="/mi_tienda">Página principal</a>
    </center>
  </div>

{%endblock%}
